.form-header-layout {
  border-bottom: 1px solid $color-gray-E6;
  padding-bottom: 1.2rem;
  padding-top: 5px;

  h1 {
    color: $color-gray-4D;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1rem;
    width: 100%;
  }
}
