.signup {
  grid-row: content-s/content-e;
  grid-column: content-s/content-e;

  &-form {
    display: grid;
    justify-items:center;

    &-title {
      width: 100%;
      margin-top: 6.6rem;
    }

    &-name,
    &-unit,
    &-email,
    &-password {
      margin-top: 4rem;
    }

    &-create-account {
      margin-top: 8.8rem;
    }

    &-text-links {
      margin-top: 5.2rem;
    }
  }
}
